In [1]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /Users/muralikrishnakancheti/anaconda3/lib/python3.10/site-packages (1.4.39)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 692.4 kB/s eta 0:00:00a 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine
import pandas as pd

# Database connection details
DB_TYPE = 'mysql+pymysql'
DB_HOST = 'localhost'
DB_USER = 'root'
DB_PASS = 'Krishna@2742'
DB_PORT = '3306'
DB_NAME = 'EMPLOYEE_RECORDS'  # Replace 'your_database' with your actual database name

# Create the engine
engine = create_engine(f"{DB_TYPE}://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# Test connection by fetching data from a sample table
try:
    # Replace 'sample_table' with an actual table name in your database
    sample_df = pd.read_sql('SELECT * FROM employees LIMIT 5', engine)
    print(sample_df)
except Exception as e:
    print("Error connecting to the database:", e)

Error connecting to the database: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '2742@localhost' ([Errno 8] nodename nor servname provided, or not known)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)